body{ margin:0px; padding:0px; background-image:url(images/main_bg.jpg);color: #FF0;
	font-family: "Book Antiqua";
	line-height: 7mm;
	font-size: 18px;
	font-style: italic;}
.tablebg{ background-image:url(images/tablebg1.jpg); background-repeat:no-repeat; background-position:right bottom;background-attachment: fixed;}
.welcome{ font-size:30px; font-weight:bold; text-align:center;}
.content{ padding:15px; text-align:justify}
.chitherapy{text-align:center; font-weight:bold;}
.faq{ font-weight:bold;}